%h1 My Projects
= link_to "+Add Project", new_project_path
#my_projects
  - @projects.each do |project|
    = link_to "#{project.title}", project_path(project)
    %br
    = "#{project.description}"
    %br
    %br