%h2
  = "#{@project.title}"
  = pluralize("#{@project.points}","point")
%br
= "#{@project.description}"
%br
%br
#stories_header
  %span Stories
  %span#addStory
    = link_to "+Add Story", new_project_story_path(@project)
#stories_list
  .stories_list
    - @stories.each do |story|
      = link_to "#{story.title}", project_story_path(@project, story)
      %br
      = "Description: #{story.description}"
      %br
      = "Owner: #{@owner.name}"
      %br
      = pluralize(@project.points, "point")
      %br
      = calculate_status(@project)
      %br
#people_project
  = render "shared/connected_people"

