%h2
  = "#{@project.title}"
  = pluralize("#{@project.points}","point")
%br
= "#{@project.description}"
%br
%br
#stories_header
  %span Stories
  %span#addStory
    = link_to "+Add Story", new_project_story_path(@project)
#stories_list
  .stories_list
    - @stories.each do |story|
      = "Title: #{story.title}"
      %br
      = "Description: #{story.description}"
      %br
      = "Owner: #{@owner.name}"
      %br
      %br
#people_project
  = render "shared/connected_people"

