%h1
  = "Project: "
  = link_to @project.title, project_path(@project)
%h2
  = "Story: "
  = @story.title
= "Description: "
= @story.description
%br
%br
= "Status: "
= @story.status
%br
- if (is_owner(@project) or is_authorized(@story) and @story.person_id)
  .story_status_change= render "status_change_form"

%br
.assign_story
  = "Currently assigned to "
  - if @story.person_id
    = getName(@story.person_id)
  - else
    = "none"
  - if is_owner(@project)
    = render "assign_story_form"

