%h2
  = @story.title
= @story.description
%br
= @story.status
- if (is_owner(@project) or is_authorized(@story) and @story.person_id)
  .story_status_change= render "status_change_form"

.assign_story
  = "Currently assigned to "
  - if @story.person_id
    = getName(@story.person_id)
  - else
    = "none"
  - if is_owner(@project)
    = render "assign_story_form"

