%h2
  = @story.title
= @story.description
%br
= @story.status
.story_status_change
  = render "status_change_form"
.assign_story
  = "Currently assigned to "
  = getName(@story.person_id)
  = render "assign_story_form"

